<div class="movie_detail">
  <h3>{{model.title}} Rating: {{model.rating}}/10</h3>
  <p> <strong>Description:</strong> {{model.description}}</p>
  <p> <strong>Director:</strong> {{model.director}}</p>
  <p> <strong>Writer:</strong> {{model.writers}}</p>
  <p> <strong>Stars:</strong> {{model.stars}}</p>
  {{#link-to "movies.index" class="button"}}Back{{/link-to}}
</div>
